<div class="text-4xl text-gray-600 flex justify-center">記事作成</div>
<div class="flex justify-center">
  <%= form_with model: @board, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-control mb-5">
      <%= f.label :title, "記事タイトル", class:" text-lg " %>
      <%= f.text_field :title, class: "input input-bordered input-primary input-lg w-full " %>
    </div>
    <div class="form-control mb-5 ">
      <%= f.label :body, "記事内容", class:" text-lg" %>
      <%= f.text_area :body, rows: 10, class:"textarea textarea-primary textarea-lg w-full " %>
    </div>
  <!-- カテゴリ部分 start -->
    <div class="text-lg">カテゴリ</div>
    <div class="flex flex-row mb-5 w-full">
      <div class="form-control ml-5">
        <label class="label cursor-pointer">
          <input type="radio" name="radio-1" class="radio" checked />
          <span class="label-text">VScode拡張機能</span> 
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer ml-5">
          <input type="radio" name="radio-1" class="radio" checked />
          <span class="label-text">chrome拡張機能</span> 
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer ml-5">
          <input type="radio" name="radio-1" class="radio" checked />
          <span class="label-text">ショートカット</span> 
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer ml-5">
          <input type="radio" name="radio-1" class="radio" checked />
          <span class="label-text">ターミナル</span> 
        </label>
      </div>
    </div>
  <!-- カテゴリ部分 end -->

  <!-- 進捗度部分 start -->
    <div class="text-lg">進捗度</div>
    <div class="flex flex-row mb-5 w-full ">
      <div class="form-control ml-5">
        <label class="label cursor-pointer">
          <input type="radio" name="radio-2" class="radio" checked />
          <span class="label-text">入門STEP</span> 
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer ml-5">
          <input type="radio" name="radio-2" class="radio" checked />
          <span class="label-text">基礎STEP</span> 
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer ml-5">
          <input type="radio" name="radio-2" class="radio" checked />
          <span class="label-text">応用STEP</span> 
        </label>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer ml-5">
          <input type="radio" name="radio-2" class="radio" checked />
          <span class="label-text">ポートフォリオ</span> 
        </label>
      </div>
    </div>
  <!-- 進捗度部分 end -->

    <div class="flex justify-center mb-5">
      <%= f.submit "作成", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>